<body>
    <div class="flex-center position-ref full-height">
        <div class="content">
            <div class="title m-b-md">
                Login
            </div>

            <div class="border">
                Name<br>
                <input [(ngModel)]="userName" class="input" type="text"><br>
                E-mail<br>
                <input [(ngModel)]="userMail" class="input" type="text"><br>
                Password<br>
                <input [(ngModel)]="userPassword" class="input" type="password"><br>
            </div>
            <button class="button" (click)="authOldUser()">Login</button>
            <div class="response">
                <p>{{responseRes}}</p>                
            </div>
        </div>
    </div>
</body>