<html>
<body>
    <div class="flex-center position-ref full-height">
        <div class="content">
            <div class="title m-b-md">
                Books
            </div>

            <div class="border">
                <div class="first-block">
                    Example
                </div>
                <div class="block">
                    Example
                </div>
                <ul>
                    <li ngFor="books">
                        <h1></h1>
                    </li>
                </ul>
            </div>
            <a routerLink="/books/addbook">
                <button class="button">Add Book</button>
            </a>
        </div>
    </div>
</body>
</html>