body {
    background-color: #87CEFA;
    color: #00008B;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #191970;
    padding: 0 25px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.links > a:hover {
    background-color: #00008B;
    color: #00BFFF;
    animation-name: a-hover;
    animation-duration: 0.15s;
    border-radius: 10px;
}

@keyframes a-hover {
    from {
        color: #00008B;
    }
    to {
        background-color: #00008B;
        color: #00BFFF;
    }
}

.links > a:not(:hover) {
    color: #00008B;
    animation-name: not-hover;
    animation-duration: 0.15s;
    border-radius: 10px;
}

@keyframes not-hover {
    from {
        background-color: #00008B;
        color: #00BFFF;
    }
    to {
        color: #00008B;
    }
}